@model MessManagementSystem.Shared.Models.ResponseModels.StudentResponseModel
﻿

<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col-lg-3 col-sm-6 col-12 mb-3">
                <div class="form-group">
                    <label>Mess#</label>
                    <input type="text" id="messNumber" class="form-control" value="@Model.MessNumber" readonly>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12 mb-3">
                <div class="form-group">
                    <label>Class</label>
                    <input type="text" id="batchClass" class="form-control" value="@Model.BatchClass" readonly>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12 mb-3">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" id="firstName" class="form-control" value="@Model.FirstName" readonly>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12 mb-3">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" id="email" class="form-control" value="@Model.Email" readonly>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12 mb-3">
                <div class="form-group">
                    <label>Security Fee</label>
                    <input type="text" id="securityFees" class="form-control" value="@Model.SecurityFees" readonly>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12 mb-3">
                <div class="form-group">
                    <label>Balance</label>
                    <input type="text" id="balance" class="form-control" value="@Model.Balance" readonly>
                </div>
            </div>

        </div>
    </div>
</div>



<script>

<script src="~/js/customer.js"></script>