@model MessManagementSystem.Shared.Models.ResponseModels.StudentResponseModel
﻿

<div class="card">
	<div class="card-body">
		<div class="row">
			
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>Mess#</label>
					<input class="error" type="text" id="messNumber" value="@Model.MessNumber" readonly>
				</div>
				<div class="form-group">
					<label>Class</label>
					<input class="error" type="text" id="batchClass" value="@Model.BatchClass" readonly>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>Name</label>
					<input class="error" type="text" id="firstName" value="@Model.FirstName" readonly>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>Email</label>
					<input class="error" type="text" id="email" value="@Model.Email" readonly>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>Balance </label>
					<input type="text" id="balance" value="@Model.Balance" readonly>
				</div>
			</div>


		</div>
	</div>
</div>


<script>

<script src="~/js/customer.js"></script>