@using MessManagementSystem.Shared.Models.ResponseModels
@model List<WeeklyMenuViewModel>
@using MessManagementSystem.MVC.Helper
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_DreamLayout.cshtml";
    var daysOfWeek = new[] { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };
	string roleId = null;
	string permissions = null;
	var token = HttpContextAccessor.HttpContext?.Request?.Cookies["AspNetCore.Usk"];

	if (!string.IsNullOrEmpty(token))
	{
		roleId = JwtHelper.GetClaimFromToken(token, "adminId");
		permissions = JwtHelper.GetClaimFromToken(token, "permissions");
	}

}

@{
	if(roleId == "1")
	{


		<div class="page-wrapper" style="min-height: 651px;">
			<div class="content">
				<div class="d-lg-flex align-items-center justify-content-between mb-4">
					<div>
						<h2 class="mb-1">Welcome, Admin</h2>
						<p>You have <span class="text-primary fw-bold">@ViewBag.Summary.PresentCount</span> Orders, Today</p>
					</div>

				</div>
				<!-- Welcome Wrap -->
				<!-- /Welcome Wrap -->

				<div class="row">

					<!-- Total Companies -->
					<div class="col-xl-4 col-sm-6 d-flex">
						<div class="card flex-fill">
							<div class="card-body">
								<div class="d-flex align-items-center justify-content-between">
									<span class="avatar avatar-md bg-dark mb-3">
										<i class="ti-user fs-16"></i>
									</span>

								</div>
								<div class="d-flex align-items-center justify-content-between">
									<div>
										<h2 class="mb-1">@ViewBag.Summary.TotalCount</h2>
										<p class="fs-13">Total Students</p>
									</div>
									<div class="company-bar1" style="display: none;">5,10,7,5,10,7,5</div><svg class="peity" height="40" width="52"><rect data-value="5" fill="#FF6F28" x="0.7428571428571429" y="20" width="5.942857142857143" height="20"></rect><rect data-value="10" fill="#FF6F28" x="8.171428571428573" y="0" width="5.942857142857141" height="40"></rect><rect data-value="7" fill="#FF6F28" x="15.6" y="12" width="5.942857142857141" height="28"></rect><rect data-value="5" fill="#FF6F28" x="23.028571428571432" y="20" width="5.942857142857136" height="20"></rect><rect data-value="10" fill="#FF6F28" x="30.457142857142856" y="0" width="5.942857142857143" height="40"></rect><rect data-value="7" fill="#FF6F28" x="37.885714285714286" y="12" width="5.942857142857143" height="28"></rect><rect data-value="5" fill="#FF6F28" x="45.31428571428571" y="20" width="5.94285714285715" height="20"></rect></svg>
								</div>
							</div>
						</div>
					</div>
					<!-- /Total Companies -->
					<!-- Active Companies -->
					<div class="col-xl-4 col-sm-6 d-flex">
						<div class="card flex-fill">
							<div class="card-body">
								<div class="d-flex align-items-center justify-content-between">
									<span class="avatar avatar-md bg-dark mb-3">
										<i class="ti-heart fs-16"></i>
									</span>

								</div>
								<div class="d-flex align-items-center justify-content-between">
									<div>
										<h2 class="mb-1">@ViewBag.Summary.PresentCount</h2>
										<p class="fs-13">Today's Present' </p>
									</div>
									<div class="company-bar2" style="display: none;">5,3,7,6,3,10,5</div><svg class="peity" height="40" width="52"><rect data-value="5" fill="#4B3088" x="0.7428571428571429" y="20" width="5.942857142857143" height="20"></rect><rect data-value="3" fill="#4B3088" x="8.171428571428573" y="28" width="5.942857142857141" height="12"></rect><rect data-value="7" fill="#4B3088" x="15.6" y="12" width="5.942857142857141" height="28"></rect><rect data-value="6" fill="#4B3088" x="23.028571428571432" y="16" width="5.942857142857136" height="24"></rect><rect data-value="3" fill="#4B3088" x="30.457142857142856" y="28" width="5.942857142857143" height="12"></rect><rect data-value="10" fill="#4B3088" x="37.885714285714286" y="0" width="5.942857142857143" height="40"></rect><rect data-value="5" fill="#4B3088" x="45.31428571428571" y="20" width="5.94285714285715" height="20"></rect></svg>
								</div>
							</div>
						</div>
					</div>
					<!-- /Active Companies -->
					<!-- Total Subscribers -->
					<div class="col-xl-4 col-sm-6 d-flex">
						<div class="card flex-fill">
							<div class="card-body">
								<div class="d-flex align-items-center justify-content-between">
									<span class="avatar avatar-md bg-dark mb-3">
										<i class="ti-drupal"></i>
									</span>

								</div>
								<div class="d-flex align-items-center justify-content-between">
									<div>
										<h2 class="mb-1">@ViewBag.Summary.AbsentCount</h2>
										<p class="fs-13">Total Absents</p>
									</div>
									<div class="company-bar3" style="display: none;">8,10,10,8,8,10,8</div><svg class="peity" height="40" width="52"><rect data-value="8" fill="#177DBC" x="0.7428571428571429" y="8" width="5.942857142857143" height="32"></rect><rect data-value="10" fill="#177DBC" x="8.171428571428573" y="0" width="5.942857142857141" height="40"></rect><rect data-value="10" fill="#177DBC" x="15.6" y="0" width="5.942857142857141" height="40"></rect><rect data-value="8" fill="#177DBC" x="23.028571428571432" y="8" width="5.942857142857136" height="32"></rect><rect data-value="8" fill="#177DBC" x="30.457142857142856" y="8" width="5.942857142857143" height="32"></rect><rect data-value="10" fill="#177DBC" x="37.885714285714286" y="0" width="5.942857142857143" height="40"></rect><rect data-value="8" fill="#177DBC" x="45.31428571428571" y="8" width="5.94285714285715" height="32"></rect></svg>
								</div>
							</div>
						</div>
					</div>
					<!-- /Total Subscribers -->


				</div>

				<div class="row">

					<!-- Recently Registered -->
						<div class="card flex-fill">
							<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
								<h5 class="mb-2">Recently Registered</h5>
							<a href="/account/GetUsers" class="btn btn-light btn-sm mb-2">View All</a>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table" id="tblUsers">
											<thead>
												<tr>
													<th>Id</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Email</th>

												</tr>
											</thead>
											<tbody>
												@if (ViewBag.Summary?.RecentlyRegister != null)
												{

													foreach (var item in ViewBag.Summary?.RecentlyRegister)
													{
														<tr>
															<td>@item.Id</td>
															<td>@item.FirstName</td>
															<td>@item.LastName</td>
															<td>@item.Email</td>

														</tr>
													}

												}

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					<!-- /Recent Registered -->

				</div>

				<div class="row">
					<div class="page-header">
						<div class="page-title">
							<h3>Menu List</h3>
							<h6>Manage your Menus</h6>
						</div>

					</div>
					<!-- /product list -->
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table" id="tblMenu">
									<thead>
										<tr>
											<th>Meal Type</th>
											@foreach (var day in daysOfWeek)
											{
												<th>@day</th>
											}
										</tr>
									</thead>
									<tbody>
										@if (Model is List<WeeklyMenuViewModel>)
										{
											if (Model is not null)
											{
												foreach (var item in Model)
												{
													<tr>
														<td><strong>@item.MealType</strong></td>
														@foreach (var day in daysOfWeek)
														{
															<td>
																@item.DailyItems?.GetValueOrDefault(day, "-")
															</td>
														}
													</tr>
												}
											}
										}

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Recently feedBack -->
				<div class="row">

					
					<div class="card flex-fill">
						<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
							<h5 class="mb-2">Recently Feedbacks</h5>
							<a href="/feedback/getFeedbacks" class="btn btn-light btn-sm mb-2">View All</a>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table" id="tblFeedback">
										<thead>
											<tr>
												<th>User</th>
												<th>Comments</th>
												<th>Created On</th>

											</tr>
										</thead>
										<tbody>
											@if (ViewBag.Summary?.RecentlyFeedbacks != null)
											{
												foreach (var item in ViewBag.Summary?.RecentlyFeedbacks)
												{
													<tr>
														<td>@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</td>
														<td>@item.Comments</td>
														<td>@item.CreatedOn</td>

													</tr>
												}
											}

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- /Recent Registered -->

				</div>

				<!-- Recently feedback -->
			</div>
		</div>
		
	}
	else if (roleId == "2")
	{
		<div class="page-wrapper" style="min-height: 651px;">
			<div class="content">
				<!-- Welcome Wrap -->
				<!-- /Welcome Wrap -->



				<div class="row">
					<div class="page-header">
						<div class="page-title">
							<h3>Menu List</h3>
							<h6>Manage your Menus</h6>
						</div>

					</div>
					<!-- /product list -->
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table" id="tblMenu">
									<thead>
										<tr>
											<th>Meal Type</th>
											@foreach (var day in daysOfWeek)
											{
												<th>@day</th>
											}
										</tr>
									</thead>
									<tbody>
										@if (Model is List<WeeklyMenuViewModel>)
										{
											if (Model is not null)
											{
												foreach (var item in Model)
												{
													<tr>
														<td><strong>@item.MealType</strong></td>
														@foreach (var day in daysOfWeek)
														{
															<td>
																@item.DailyItems.GetValueOrDefault(day, "-")
															</td>
														}
													</tr>
												}
											}
										}

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>




		</div>
	}
}


